.profile
    .profile__back-btn
        div(data-component="btnBackToChats")
    .profile__avatar.mb-2 
        div(data-component="avatarInput")
    .profile__name.mb-4 Иван
    .profile__info.mb-4 
        div(data-component="inputEmail")
        div(data-component="inputLogin")
        div(data-component="inputFirstName")
        div(data-component="inputSecondName")
        div(data-component="inputDisplayName")
        div(data-component="inputPhone")
    .profile__actions 
        a.link.mb-2 Изменить данные
        a.link.mb-2(href="../static/change-password.html") Изменить пароль
        a.link.exit Выйти