include ../../components/button/button.pug

.content
    form().registration-card.elevation.bordered 
        .registration-card__title.text-title.mb-10 Регистрация
        .registration-card__input.mb-1
            div(data-component="inputEmail")   
        .registration-card__input.mb-1
            div(data-component="inputLogin")   
        .registration-card__input.mb-1
            div(data-component="inputFirstName")   
        .registration-card__input.mb-1
            div(data-component="inputSecondName")   
        .registration-card__input.mb-1
            div(data-component="inputPhone")
        .registration-card__input.mb-1
            div(data-component="inputPassword")  
        .registration-card__input.mb-4
            div(data-component="inputPasswordRepeat")
        .registration-card__auth-btn.mb-4
            +button('Зарегистрироваться')(type='submit')
        a.registration-card__no-account.link(href="../static/login.html") Вход




