.change-password
    .change-password__back-btn
        div(data-component="btnBackToChats")
    .change-password__avatar.mb-2 
        div(data-component="avatarInput")
    .change-password__name.mb-4 Иван
    .change-password__info.mb-4 
        div(data-component="inputOldPassword")
        div(data-component="inputNewPassword")
        div(data-component="inputNewPasswordRepeat")
    .change-password__actions
        div(data-component="btnSubmit")
