include ../../components/button/button.pug

.change-password
    .change-password__back-btn
        +button('Назад к чатам')(onclick="window.location.href='../chat-list/chat-list.html'")
    .change-password__avatar.mb-2 
        input(type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;")
    .change-password__name.mb-4 Иван
    .change-password__info.mb-4 
        div(data-component="inputOldPassword")
        div(data-component="inputNewPassword")
        div(data-component="inputNewPasswordRepeat")
    .change-password__actions 
        +button('Сохранить') 
