.chat-list-content 
    .chat-list 
        .chat-list__header 
            .profile-btn.mb-4 
                a(href="../static/profile.html") Профиль
            .search.mb-2
                div(data-component="inputSearch")
        .chat-list__list 
            each val in dialogs ? dialogs : ['Нет чатов']  
                | !{val}
    .selected-chat
        .selected-chat__header 
            .user
                .user__photo 
                .user__name 
            .menu
        .selected-chat__chat-area 
            .messages-onDate 
                each val in messages ? messages : ['Нет сообщений']  
                    | !{val}
        .selected-chat__footer 
            .pin-btn 
            .message-input 
                div(data-component="inputMessage")
            .send-btn