.not-found 
    //- TODO: картинка не грузится, вынести
    img.not-found__icon(src="../../assets/icons/close-octagon.svg")
    .not-found__text Такой страницы не существует
    a.link(href="../chat-list/chat-list.pug") Назад к чатам