.error 
    //- TODO: картинка не грузится, вынести
    img.error__icon(src="../../assets/icons/close-octagon.svg")
    .error__text Произошла ошибка
    a.link(href="../chat-list/chat-list.pug") Назад к чатам